.char-moves {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
}

.char-moves button {
    background-color: var(--second-bg);
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 35%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0rem 0rem 1rem #000;
    cursor: pointer;
}

.char-moves #new::after {
    content: '';
    height: 2.3rem;
    width: 0.5rem;
    border-radius: 0.15rem;
    background-color: #fff;
}

.char-moves #new::before {
    content: '';
    height: 2.3rem;
    width: 0.5rem;
    border-radius: 0.15rem;
    background-color: #fff;
    transform: rotate(90deg) translateX(-142%);
    position: absolute;
    bottom: 0px;
}

.char-moves img {
    max-height: 2.5rem;
}