.character-icon {
    width: 100%;
    text-decoration: none;
    box-shadow: #000 0rem 0rem 1rem;
    box-sizing: border-box;
}

.character-icon > h2 {
    margin: 1rem;
    font-size: var(--second-font-size);
    color: var(--second-color);
}

.character-icon > div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding: 0.7rem 0rem 1.3rem 0rem;
}

.character-icon img {
    max-width: 183px;
    border-radius: 0.5rem;
    box-shadow: #000 0rem 0rem 1rem;
}