.die-damage {
    width: 100%;
    box-shadow: 0rem 0rem 1rem #000;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.die-damage button{
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: margin-left 2.5s;
}

.die-damage.-d10 button::before{
    content: '';
    background-color: white;
    width: 94px;
    height: 43px;
    z-index: -1;
    position: absolute;
    bottom: 22px;
    border-radius: 4rem;
    left: 8.5px;
}

.die-damage.-d8 img{
    max-width: 5.7rem;
}

.die-damage.-d4 img {
    margin-bottom: 1rem;
}

.walk {
    margin-left: 70%;
}

.iShake {
    animation: iShake 5s infinite;
}

@keyframes iShake {
    0%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}