.die-damage {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.die-damage button{
    z-index: 1;
    position: relative;
    background-color: transparent;
    border: none;
}

.die-damage button::before{
    content: '';
    background-color: white;
    width: 95px;
    height: 45px;
    z-index: -1;
    position: absolute;
    bottom: 22px;
    border-radius: 4rem;
    left: 2px;
}

.die-damage img {
    z-index: 1;
}

.die-damage::after {
    content: '';
    position: absolute;
    bottom: 50%;
    height: 2.5vh;
    width: 100%;
    border-radius: 0.3rem;
    background-color: var(--contrast-color);
    transform: translateY(50%);
}

.die-damage::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    height: 8rem;
    width: 8rem;
    border-radius: 4rem;
    background-color: var(--contrast-color);
}