.info-display{
    display: flex;
    justify-content: space-evenly;
    border-top: var(--yellow) solid 0.5rem;
    border-bottom: var(--yellow) solid 0.5rem;
    padding: 1rem 0rem;
    margin-bottom: 3.5rem;
}
.info-display>.info *{
    font-size: 1.7rem;
    line-height: 1.7rem;
}
.info-display.-margin{
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}