.input-text {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-family: inherit;
    font-size: var(--third-font-size);
}

.input-text.-title {
    font-size: var(--title-font-size);
}

.input-text.-italic {
    font-style: italic;
}

.input-text.-textarea {
    width: 100%;
    background-color: var(--second-bg);
    text-align: left;
    padding: 0.6rem;
    box-sizing: border-box;
    color: var(--second-color);
    height: 25vh;
}

.input-text.-textarea::placeholder {
    color: var(--second-color);
    font-style: italic;
}

.-thin {
    width: 1.5rem;
}