.input-text {
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-family: inherit;
    font-weight: inherit !important;
    font-size: var(--third-font-size);
}

.input-text.-title {
    font-size: var(--title-font-size);
    margin-bottom: -0.5rem;
}

.input-text.-italic {
    font-style: italic;
}

.input-text.-textarea {
    width: 100%;
    box-shadow: #000 0rem 0rem 1rem;
    text-align: left;
    padding: 0.6rem;
    box-sizing: border-box;
    color: var(--second-color);
    height: 12rem;
}

.input-text.-textarea::placeholder {
    color: var(--second-color);
    font-style: italic;
}

.-thin {
    width: 1.5rem;
}