.main-die {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    gap: 1.3rem;
    width: 100%;
}

.main-die .wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.main-die button {
    font-size: 1rem !important;
    font-weight: inherit;
    background-color: #e92e3d;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
    font-size: var(--third-font-size);
    padding: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.shake {
    animation: shake 5s infinite;
}

@keyframes shake {
    0%{
        transform: rotate(-360deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}