.main-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 2.5rem 0rem;
}

.main-structure.-gap {
    gap: 1.5rem;
}

.main-structure.-top {
    padding: 2rem 0rem;
}