.move-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.move-btn button {
    background-color: var(--grey);
    border: none;
    outline: none;
    border-radius: 10px;
    width: 35%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 16px #000;
    cursor: pointer;
}

.move-btn #new::after {
    content: '';
    height: 2.3rem;
    width: 0.5rem;
    border-radius: 0.15rem;
    background-color: #fff;
}

.move-btn #new::before {
    content: '';
    height: 2.3rem;
    width: 0.5rem;
    border-radius: 0.15rem;
    background-color: #fff;
    transform: rotate(90deg) translateX(-142%);
    position: absolute;
    bottom: 0px;
}

.move-btn img {
    max-height: 2.5rem;
}