.save-btn {
    position: fixed;
    bottom: 0.7rem;
    right: 0.7rem;
    padding: 0.3rem 0.3rem 0.15rem;
    border-radius: var(--border-radius);
    box-shadow: 0rem 0rem 1rem #000;
    background-color: var(--bg-color);
    cursor: pointer;
}

.save-btn img {
    max-width: 3.7rem;
}