.second-layout {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--contrast-color);
    border-radius: 1rem;
    height: 7vh;
    width: 30vw;
} 

.second-layout input{
    font-style: normal;
    transform: translateY(-0.05rem);
}