.status-core {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: var(--second-font-size);
    background-color: var(--third-bg);
    color: var(--third-color);
    padding: 1rem 0rem;
}

.status-core > div * {
    font-size: inherit;
    line-height: var(--second-font-size);
    font-weight: 700;
    color: inherit;
}

.status-core > .dmg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #222 solid 0.3rem;
    border-top-color: #444;
    border-left-color: #444;
    border-radius: var(--border-radius);
    box-shadow: 0rem 0rem 0.5rem #000;
    padding: 0.3rem;
    background-color: var(--bg-color);
    color: var(--color);
}

.status-core > .dmg input {
    width: 2.3rem;
}