.xp-level {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.xp-level label {
    font-size: 1.5rem;
}

.xp-level .xp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--contrast-color);
    border-radius: 1rem;
    height: 7vh;
    width: 30vw;
} 

.xp input{
    font-style: normal;
    transform: translateY(-0.1rem);
}

.level input {
    background-color: var(--contrast-color);
    border-radius: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.3rem;
}