body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    font-family: var(--averia-font);
}

form > .input-text.-dark {
    margin: 1rem 0rem;
}

form #notes-txt {
    height: 35vh;
}