@media screen and (min-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .initial-pg {
        box-shadow: var(--box-shadow);
    }

    .character-icon {
        padding: 0rem 1.3rem;
    }

    .main-header {
        padding-top: 2rem !important;
        width: 40%;
        box-shadow: var(--box-shadow);
        margin-bottom: 1.5rem;
    }

    .header {
        display: none;
    }

    .atb-sec {
        width: 40%;
        box-sizing: border-box;
        box-shadow: var(--box-shadow);
        padding-top: 0.7rem;
    }
}