@media screen and (min-width: 500px) {
    body, body > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    body > div, body > section {
        box-shadow: var(--box-shadow);
    }

    body > div {
        width: 40%;
    }

    .character-icon {
        padding: 0rem 1.3rem;
    }

    .main-header {
        width: 100%;
    }

    .atb-sec {
        box-sizing: border-box;
        width: 100%;
        padding-top: 0.7rem;
    }
}