body {
    background-color: #eee;
}

.sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.sheet .title {
    margin: 1rem 0rem 0.3rem 0rem;
    font-family: 'Averia Libre', cursive;
    color: #0c2461;
    font-size: 1.75rem;
}

.sheet #player {
    border-radius: 0.5rem;
    border:none;
    outline: none;
    height: 4vh;
    width: 70vw;
    text-align: center;
    font-family: "Poppins",sans-serif;
    background-color: #555;
    color: #eee;
}

.sheet #character {
    border-radius: 0.5rem;
    border:none;
    outline: none;
    height: 4.5vh;
    width: 90vw;
    text-align: center;
    font-family: "Poppins",sans-serif;
    background-color: #555;
    color: #eee;
}

.sheet .subtitle {
    font-family: 'Averia Libre', cursive;
    color: #0c2461;
    font-size: 1.3rem;
    margin-top: 0.3rem;
}

.sheet #description {
    width: 95vw;
    height: 20vh;
    outline: none;
    border-radius: 0.5rem;
    background-color: #555;
    color: #eee;
    font-family: 'Poppins' ,sans-serif;
    line-height: 1.4rem;
    font-size: 1rem;
    padding: 1rem;
}