:root {
    --font-family: 'Averia Libre', cursive;
    --poppins: 'Poppins', sans-serif;
    --title-font-size: 1.7rem;
    --second-font-size: 1.4rem;
    --third-font-size: 1rem;

    --bg-color: #222f3e;
    --second-bg: #576574;
    --third-bg: #feca57;
    --color: #eee;
    --second-color: #feca57;
    --third-color: #333;

    --border-radius: 1rem;
    --box-shadow: #000 0.5rem 0.5rem 1rem;
}